.cpcl .cpcl-dropbtn {color: white;font-size: 15px;border: none;cursor: pointer;background: none;}
.cpcl .cpcl-dropdown {position: absolute;display: inline-block;margin-top:5px;right:5px;z-index: 999;}
.cpcl .cpcl-dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);right:0;}
.cpcl .cpcl-dropdown-content a {color: black;padding: 0px 10px;text-decoration: none;display: block;font-size: 14px;text-align: left !important;}
.cpcl .cpcl-dropdown-content a:hover {background-color: #f1f1f1}
.cpcl .cpcl-dropdown:hover .cpcl-dropdown-content {display: block;}
.cpcl .cpcl-dropdown:hover .cpcl-dropbtn {background: #f9f9f9;}